In [3]:
banknote_df = pd.read_csv('data_banknote_authentication.txt', header=None)

In [12]:
banknote_df.columns = ['variance', 'skewness', 'kurtosis', 'entropy', 'class']

In [13]:
banknote_df.head(3)

   variance  skewness  kurtosis  entropy  class
0    3.6216    8.6661   -2.8073 -0.44699      0
1    4.5459    8.1674   -2.4586 -1.46210      0
2    3.8660   -2.6383    1.9242  0.10645      0