In [40]:
import mysql.connector as sql
import pandas as pd
from sqlalchemy import create_engine
import pymysql

# Download the events_data from below link

https://drive.google.com/uc?export=download&id=1OK4yi-f1v03vS6fBMjuOLKPhNOfjzsh3

In [28]:
df_events_data = pd.read_csv('events_data.csv')
df_events_data.head()

,event_id,device_id,timestamp,longitude,latitude,city,state
0,1.0,2.918269e+16,2016-05-01 00:55:25,77.266049,28.68161,Delhi,Delhi
1,7104.0,2.918269e+16,2016-05-02 09:37:02,77.266049,28.68161,Delhi,Delhi
2,29661.0,2.918269e+16,2016-05-04 00:56:04,77.266049,28.68161,Delhi,Delhi
3,33133.0,2.918269e+16,2016-05-06 05:01:15,77.266049,28.68161,Delhi,Delhi
4,38980.0,2.918269e+16,2016-05-06 09:55:04,77.266049,28.68161,Delhi,Delhi

In [30]:
df_events_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3252950 entries, 0 to 3252949
Data columns (total 7 columns):
event_id     float64
device_id    float64
timestamp    object
longitude    float64
latitude     float64
city         object
state        object
dtypes: float64(4), object(3)
memory usage: 173.7+ MB

In [39]:
df_events_data.count()

event_id     3252950
device_id    3252497
timestamp    3252950
longitude    3252527
latitude     3252527
city         3252950
state        3252573
dtype: int64

# Missing values

## missing values in device_id,  latitude, longitude, state

In [36]:
df_events_data.state.sort_values(ascending=True).unique()

array(['AndamanandNicobarIslands', 'AndhraPradesh', 'ArunachalPradesh',
       'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Delhi', 'Goa',
       'Gujarat', 'Haryana', 'HimachalPradesh', 'JammuandKashmir',
       'Jharkhand', 'Karnataka', 'Kerala', 'MadhyaPradesh', 'Maharashtra',
       'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Orissa',
       'Pondicherry', 'Punjab', 'Rajasthan', 'TamilNadu', 'Telangana',
       'Tripura', 'UttarPradesh', 'Uttaranchal', 'WestBengal', nan],
      dtype=object)

In [41]:
db_connection = sql.connect(user='student', password='student', host='cpanel.insaid.co', database='Capstone1')

db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM phone_brand_device_model')

table_rows = db_cursor.fetchall()

df_gender = pd.DataFrame(table_rows)
df_gender.head()

InterfaceError: 2003: Can't connect to MySQL server on 'cpanel.insaid.co:3306' (60 Operation timed out)

In [24]:
db_connection_str = 'mysql+pymysql://student:student@cpanel.insaid.co/Capstone1'
db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM phone_brand_device_model', con=db_connection)
df.head()

OperationalError: (pymysql.err.OperationalError) (2013, 'Lost connection to MySQL server during query')
[SQL: SELECT * FROM phone_brand_device_model]
(Background on this error at: http://sqlalche.me/e/e3q8)