In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/insaid2018/CDF-Certification-Quiz-Data/master/Abalone/02-Data.csv')

In [6]:
df

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Adult
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,1
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,0
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,1
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,1
4,M,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,0
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,1
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,1
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,1
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,1
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,1

In [7]:
X = df.loc[:,df.columns != 'Adult']
X.head()

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155
4,M,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055

In [14]:
X.drop('Sex', inplace=True, axis=1)

In [15]:
y = df.Adult

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=3)

In [17]:
print(X_train.shape)
print(y_train.shape)

(2923, 7)
(2923,)

In [18]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
y_pred_test = logreg.predict(X_test)

In [21]:
from sklearn.metrics import accuracy_score
print('Accuracy score for testa data is:', accuracy_score(y_test,y_pred_test))

Accuracy score for testa data is: 0.8149920255183413

In [22]:
from sklearn.metrics import confusion_matrix

confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

print(confusion_matrix)

     0    1
0  290  148
1   84  732

In [23]:
confusion_matrix.index = ['Actual 1','Actual 0']
confusion_matrix.columns = ['Predicted 1','Predicted 0']
print(confusion_matrix)

          Predicted 1  Predicted 0
Actual 1          290          148
Actual 0           84          732