In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/world-happiness-report-2020/WHR20_DataForFigure2.1.csv
/kaggle/input/oxford-covid19-government-response-tracker/OxCGRT_Download_latest_data.xlsx
/kaggle/input/covid19-global-forecasting-week-2/submission.csv
/kaggle/input/covid19-global-forecasting-week-2/test.csv
/kaggle/input/covid19-global-forecasting-week-2/train.csv
/kaggle/input/countries-dataset-2020/Crime index by countries 2020.csv
/kaggle/input/countries-dataset-2020/Cost of living index by country 2020.csv
/kaggle/input/countries-dataset-2020/Pupulation density by countries.csv
/kaggle/input/countries-dataset-2020/Properties price index by countries 2020.csv
/kaggle/input/countries-dataset-2020/Coutries age structure.csv
/kaggle/input/countries-dataset-2020/Health care index by countries 2020.csv
/kaggle/input/countries-dataset-2020/Quality of life index by countries 2020.csv
/kaggle/input/covid19-googletrends/GoogleTrend_Latest.csv
/kaggle/input/population-by-country-2020/population_by_country_2020.csv

# Load Dataset

In [2]:
PATH_WEEK2 = '/kaggle/input/covid19-global-forecasting-week-2'

df_Train = pd.read_csv(f'{PATH_WEEK2}/train.csv')
df_test = pd.read_csv(f'{PATH_WEEK2}/test.csv')

In [3]:
PATH_POPULATION = '/kaggle/input/population-by-country-2020'

df_Population = pd.read_csv(f'{PATH_POPULATION}/population_by_country_2020.csv')

PATH_GOV_RESPONSE_TRACKER = '/kaggle/input/oxford-covid19-government-response-tracker'

df_Gov_Response = pd.read_excel(f'{PATH_GOV_RESPONSE_TRACKER}/OxCGRT_Download_latest_data.xlsx')

PATH_GOOGLE_TRENDS = '/kaggle/input/covid19-googletrends'

df_GT = pd.read_csv(f'{PATH_GOOGLE_TRENDS}/GoogleTrend_Latest.csv')

## Print first and last few rows of Train Dataset

In [4]:
df_Train.iloc[np.r_[0:5, -6:-1], :]

,Id,Province_State,Country_Region,Date,ConfirmedCases,Fatalities
0,1,NaN,Afghanistan,2020-01-22,0.0,0.0
1,2,NaN,Afghanistan,2020-01-23,0.0,0.0
2,3,NaN,Afghanistan,2020-01-24,0.0,0.0
3,4,NaN,Afghanistan,2020-01-25,0.0,0.0
4,5,NaN,Afghanistan,2020-01-26,0.0,0.0
19692,29362,NaN,Zimbabwe,2020-03-23,3.0,1.0
19693,29363,NaN,Zimbabwe,2020-03-24,3.0,1.0
19694,29364,NaN,Zimbabwe,2020-03-25,3.0,1.0
19695,29365,NaN,Zimbabwe,2020-03-26,3.0,1.0
19696,29366,NaN,Zimbabwe,2020-03-27,5.0,1.0

## Print first and last few rows of Test Dataset

In [5]:
df_test.iloc[np.r_[0:5, -6:-1], :]

       ForecastId Province_State Country_Region        Date
0               1            NaN    Afghanistan  2020-03-19
1               2            NaN    Afghanistan  2020-03-20
2               3            NaN    Afghanistan  2020-03-21
3               4            NaN    Afghanistan  2020-03-22
4               5            NaN    Afghanistan  2020-03-23
12636       12637            NaN       Zimbabwe  2020-04-25
12637       12638            NaN       Zimbabwe  2020-04-26
12638       12639            NaN       Zimbabwe  2020-04-27
12639       12640            NaN       Zimbabwe  2020-04-28
12640       12641            NaN       Zimbabwe  2020-04-29

## Print first and last few rows of Population Dataset

In [6]:
df_Population.iloc[np.r_[0:5, -6:-1], :]

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1439323776,0.39%,5540090,153,9388211,-348399.0,1.7,38,61%,18.47%
1,India,1380004385,0.99%,13586631,464,2973190,-532687.0,2.2,28,35%,17.70%
2,United States,331002651,0.59%,1937734,36,9147420,954806.0,1.8,38,83%,4.25%
3,Indonesia,273523615,1.07%,2898047,151,1811570,-98955.0,2.3,30,56%,3.51%
4,Pakistan,220892340,2.00%,4327022,287,770880,-233379.0,3.6,23,35%,2.83%
229,Saint Pierre & Miquelon,5794,-0.48%,-28,25,230,NaN,N.A.,N.A.,100%,0.00%
230,Montserrat,4992,0.06%,3,50,100,NaN,N.A.,N.A.,10%,0.00%
231,Falkland Islands,3480,3.05%,103,0,12170,NaN,N.A.,N.A.,66%,0.00%
232,Niue,1626,0.68%,11,6,260,NaN,N.A.,N.A.,46%,0.00%
233,Tokelau,1357,1.27%,17,136,10,NaN,N.A.,N.A.,0%,0.00%

## Print first and last few rows of Government Response Tracker Dataset

df_Gov_Response.iloc[np.r_[0:5, -6:-1], :]

## Print first and last few rows of Covid19 Google Trends Dataset

df_GT.iloc[np.r_[0:5, -6:-1], :]

# Data Preprocessing

## Rename the Columns of Train and Test Datasets

In [7]:
df_Train.rename(columns={'Country_Region':'Country'}, inplace=True)
df_test.rename(columns={'Country_Region':'Country'}, inplace=True)

df_Train.rename(columns={'Province_State':'State'}, inplace=True)
df_test.rename(columns={'Province_State':'State'}, inplace=True)

In [8]:
df_Population.columns

Index(['Country (or dependency)', 'Population (2020)', 'Yearly Change',
       'Net Change', 'Density (P/Km²)', 'Land Area (Km²)', 'Migrants (net)',
       'Fert. Rate', 'Med. Age', 'Urban Pop %', 'World Share'],
      dtype='object')

In [9]:
df_Population.rename(columns={'Country (or dependency)':'Country'}, inplace=True)

In [10]:
train_countries = df_Train.Country.unique().tolist()
pop_countries = df_Population.Country.unique().tolist()

for country in train_countries:
    if country not in pop_countries:
        print (country)

Congo (Brazzaville)
Congo (Kinshasa)
Cote d'Ivoire
Czechia
Diamond Princess
Korea, South
Saint Kitts and Nevis
Saint Vincent and the Grenadines
Taiwan*
US

In [11]:
renameCountryNames = {
    "Congo (Brazzaville)": "Congo",
    "Congo (Kinshasa)": "Congo",
    "Cote d'Ivoire": "Côte d'Ivoire",
    "Czechia": "Czech Republic (Czechia)",
    "Korea, South": "South Korea",
    "Saint Kitts and Nevis": "Saint Kitts & Nevis",
    "Saint Vincent and the Grenadines": "St. Vincent & Grenadines",
    "Taiwan*": "Taiwan",
    "US": "United States"
}

In [12]:
#df_Train.loc[df_Train.Country in renameCountryNames.keys(), 'Country'] = df_Train.loc[df_Train.Country in renameCountryNames.keys(), 'Country'].map(country_map)
df_Train.replace({'Country': renameCountryNames}, inplace=True)
df_test.replace({'Country': renameCountryNames}, inplace=True)

In [13]:
df_test.tail()

       ForecastId State   Country        Date
12637       12638   NaN  Zimbabwe  2020-04-26
12638       12639   NaN  Zimbabwe  2020-04-27
12639       12640   NaN  Zimbabwe  2020-04-28
12640       12641   NaN  Zimbabwe  2020-04-29
12641       12642   NaN  Zimbabwe  2020-04-30

In [14]:
df_Population.loc[df_Population['Med. Age']=='N.A.', 'Med. Age'] = df_Population.loc[df_Population['Med. Age']!='N.A.', 'Med. Age'].mode()[0]
df_Population.loc[df_Population['Urban Pop %']=='N.A.', 'Urban Pop %'] = df_Population.loc[df_Population['Urban Pop %']!='N.A.', 'Urban Pop %'].mode()[0]
df_Population.loc[df_Population['Fert. Rate']=='N.A.', 'Fert. Rate'] = df_Population.loc[df_Population['Fert. Rate']!='N.A.', 'Fert. Rate'].mode()[0]
df_Population.loc[:, 'Migrants (net)'] = df_Population.loc[:, 'Migrants (net)'].fillna(0)
df_Population['Yearly Change'] = df_Population['Yearly Change'].str.rstrip('%')
df_Population['World Share'] = df_Population['World Share'].str.rstrip('%')
df_Population['Urban Pop %'] = df_Population['Urban Pop %'].str.rstrip('%')
df_Population = df_Population.astype({"Net Change": int,"Density (P/Km²)": int,"Population (2020)": int,"Land Area (Km²)": int,"Yearly Change": float,"Urban Pop %": int,"Fert. Rate": float,"Med. Age": int,"World Share": float, "Migrants (net)": float,})

# As the Country value "Diamond Princess" is a CRUISE, we replace the population 
df_Population = df_Population.append(pd.Series(['Diamond Princess', 3500, 0, 0, 0, 0, 0.0, 1, 30, 0, 0.0], index=df_Population.columns ), ignore_index=True)

In [15]:
df_Population.describe()

,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
count,2.360000e+02,236.000000,2.360000e+02,236.000000,2.360000e+02,236.000000,236.000000,236.000000,236.000000,236.000000
mean,3.302882e+07,1.099873,3.446214e+05,473.754237,5.512461e+05,5.351695,2.557203,28.932203,58.860169,0.423644
std,1.348669e+08,1.075761,1.126083e+06,2326.526605,1.684587e+06,113740.613982,1.212379,9.358786,23.815995,1.730252
min,8.010000e+02,-2.470000,-3.838400e+05,0.000000,0.000000e+00,-653249.000000,1.000000,15.000000,0.000000,0.000000
25%,3.965320e+05,0.315000,3.932500e+02,35.750000,2.382500e+03,-8480.500000,1.800000,19.000000,43.000000,0.010000
50%,5.440442e+06,0.970000,3.845600e+04,94.500000,7.579000e+04,0.000000,2.000000,28.000000,58.000000,0.070000
75%,2.041394e+07,1.850000,2.410415e+05,239.250000,4.005600e+05,4850.000000,3.100000,37.250000,78.250000,0.262500
max,1.439324e+09,3.840000,1.358663e+07,26337.000000,1.637687e+07,954806.000000,7.000000,48.000000,100.000000,18.470000

In [16]:
df_Population[df_Population['Population (2020)'] <= 5000]

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
230,Montserrat,4992,0.06,3,50,100,0.0,1.8,19,10,0.0
231,Falkland Islands,3480,3.05,103,0,12170,0.0,1.8,19,66,0.0
232,Niue,1626,0.68,11,6,260,0.0,1.8,19,46,0.0
233,Tokelau,1357,1.27,17,136,10,0.0,1.8,19,0,0.0
234,Holy See,801,0.25,2,2003,0,0.0,1.8,19,57,0.0
235,Diamond Princess,3500,0.00,0,0,0,0.0,1.0,30,0,0.0

train_countries = df_Train.Country.unique().tolist()
gt_countries = df_GT.Country.unique().tolist()

for country in train_countries:
    if country not in pop_countries:
        print (country)

df_GT.isna().sum()

df_GT.fillna(0, inplace=True)

df_GT[df_GT.Country == 'India']

In [17]:
df_Train = df_Train.merge(df_Population, how='left', left_on='Country', right_on='Country')
df_test = df_test.merge(df_Population, how='left', left_on='Country', right_on='Country')

df_Train1 = df_Train.merge(df_GT, how='left', left_on=['Country', 'Date'], right_on=['Country', 'date'])
df_test1 = df_test.merge(df_GT, how='left', left_on=['Country', 'Date'], right_on=['Country', 'date'])

### Train Dataset Information

In [18]:
df_Train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19698 entries, 0 to 19697
Data columns (total 16 columns):
Id                   19698 non-null int64
State                8375 non-null object
Country              19698 non-null object
Date                 19698 non-null object
ConfirmedCases       19698 non-null float64
Fatalities           19698 non-null float64
Population (2020)    19698 non-null int64
Yearly Change        19698 non-null float64
Net Change           19698 non-null int64
Density (P/Km²)      19698 non-null int64
Land Area (Km²)      19698 non-null int64
Migrants (net)       19698 non-null float64
Fert. Rate           19698 non-null float64
Med. Age             19698 non-null int64
Urban Pop %          19698 non-null int64
World Share          19698 non-null float64
dtypes: float64(6), int64(7), object(3)
memory usage: 2.6+ MB

### Test Dataset Information

In [19]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12642 entries, 0 to 12641
Data columns (total 14 columns):
ForecastId           12642 non-null int64
State                5375 non-null object
Country              12642 non-null object
Date                 12642 non-null object
Population (2020)    12642 non-null int64
Yearly Change        12642 non-null float64
Net Change           12642 non-null int64
Density (P/Km²)      12642 non-null int64
Land Area (Km²)      12642 non-null int64
Migrants (net)       12642 non-null float64
Fert. Rate           12642 non-null float64
Med. Age             12642 non-null int64
Urban Pop %          12642 non-null int64
World Share          12642 non-null float64
dtypes: float64(4), int64(7), object(3)
memory usage: 1.4+ MB

In [20]:
df_Population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 11 columns):
Country              236 non-null object
Population (2020)    236 non-null int64
Yearly Change        236 non-null float64
Net Change           236 non-null int64
Density (P/Km²)      236 non-null int64
Land Area (Km²)      236 non-null int64
Migrants (net)       236 non-null float64
Fert. Rate           236 non-null float64
Med. Age             236 non-null int64
Urban Pop %          236 non-null int64
World Share          236 non-null float64
dtypes: float64(4), int64(6), object(1)
memory usage: 20.4+ KB

# Data Transformation

## Transform the Date to Pandas DataTime

In [21]:
df_Train['Date'] = pd.to_datetime(df_Train['Date'], infer_datetime_format=True)
df_test['Date'] = pd.to_datetime(df_test['Date'], infer_datetime_format=True)

## Dataset for Model Training

## Avoid Data Leakage
As the Train Dataset has records till 27th March 2020 and Test Dataset has partial intersection of records from 19th March 2020. Let us concise the Train Dataset to 18th March 2020.

In [22]:
MIN_TEST_DATE = df_test.Date.min()

In [23]:
df_train = df_Train.loc[df_Train.Date < MIN_TEST_DATE, :]

### Target#1 ConfirmedCases Series

In [24]:
y1_Train = df_train.iloc[:, -2]
y1_Train.head()

0    25
1    25
2    25
3    25
4    25
Name: Urban Pop %, dtype: int64

### Target#1 Fatalities Series

In [25]:
y2_Train = df_train.iloc[:, -1]
y2_Train.head()

0    0.5
1    0.5
2    0.5
3    0.5
4    0.5
Name: World Share, dtype: float64

## Fill NaN from State feature

In [26]:
EMPTY_VAL = "EMPTY_VAL"

def fillState(state, country):
    if state == EMPTY_VAL: return country
    return state

In [27]:
#X_Train = df_train.loc[:, ['State', 'Country', 'Date']]
X_Train = df_train.copy()

X_Train['State'].fillna(EMPTY_VAL, inplace=True)
X_Train['State'] = X_Train.loc[:, ['State', 'Country']].apply(lambda x : fillState(x['State'], x['Country']), axis=1)

X_Train['year'] = X_Train['Date'].dt.year
X_Train['month'] = X_Train['Date'].dt.month
X_Train['week'] = X_Train['Date'].dt.week
X_Train['day'] = X_Train['Date'].dt.day
X_Train['dayofweek'] = X_Train['Date'].dt.dayofweek

X_Train.loc[:, 'Date'] = X_Train.Date.dt.strftime("%m%d")
X_Train["Date"]  = X_Train["Date"].astype(int)

#X_Train.drop(columns=['Date'], axis=1, inplace=True)

X_Train.head()

,Id,State,Country,Date,ConfirmedCases,Fatalities,Population (2020),Yearly Change,Net Change,Density (P/Km²),...,Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,year,month,week,day,dayofweek
0,1,Afghanistan,Afghanistan,122,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,22,2
1,2,Afghanistan,Afghanistan,123,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,23,3
2,3,Afghanistan,Afghanistan,124,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,24,4
3,4,Afghanistan,Afghanistan,125,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,25,5
4,5,Afghanistan,Afghanistan,126,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,26,6

In [28]:
#X_Test = df_test.loc[:, ['State', 'Country', 'Date']]
X_Test = df_test.copy()

X_Test['State'].fillna(EMPTY_VAL, inplace=True)
X_Test['State'] = X_Test.loc[:, ['State', 'Country']].apply(lambda x : fillState(x['State'], x['Country']), axis=1)

X_Test['year'] = X_Test['Date'].dt.year
X_Test['month'] = X_Test['Date'].dt.month
X_Test['week'] = X_Test['Date'].dt.week
X_Test['day'] = X_Test['Date'].dt.day
X_Test['dayofweek'] = X_Test['Date'].dt.dayofweek

X_Test.loc[:, 'Date'] = X_Test.Date.dt.strftime("%m%d")
X_Test["Date"]  = X_Test["Date"].astype(int)

#X_Test.drop(columns=['Date'], axis=1, inplace=True)

X_Test.head()

,ForecastId,State,Country,Date,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,year,month,week,day,dayofweek
0,1,Afghanistan,Afghanistan,319,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5,2020,3,12,19,3
1,2,Afghanistan,Afghanistan,320,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5,2020,3,12,20,4
2,3,Afghanistan,Afghanistan,321,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5,2020,3,12,21,5
3,4,Afghanistan,Afghanistan,322,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5,2020,3,12,22,6
4,5,Afghanistan,Afghanistan,323,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5,2020,3,13,23,0

## Categorical Encoding using Label Encoder

In [29]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

### Transforming the Country and State to Numerical values

In [30]:
X_Train.Country = le.fit_transform(X_Train.Country)
X_Train['State'] = le.fit_transform(X_Train['State'])

X_Train.head()

,Id,State,Country,Date,ConfirmedCases,Fatalities,Population (2020),Yearly Change,Net Change,Density (P/Km²),...,Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,year,month,week,day,dayofweek
0,1,0,0,122,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,22,2
1,2,0,0,123,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,23,3
2,3,0,0,124,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,24,4
3,4,0,0,125,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,25,5
4,5,0,0,126,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,26,6

In [31]:
X_Test.Country = le.fit_transform(X_Test.Country)
X_Test['State'] = le.fit_transform(X_Test['State'])

X_Test.head()

,ForecastId,State,Country,Date,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,year,month,week,day,dayofweek
0,1,0,0,319,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5,2020,3,12,19,3
1,2,0,0,320,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5,2020,3,12,20,4
2,3,0,0,321,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5,2020,3,12,21,5
3,4,0,0,322,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5,2020,3,12,22,6
4,5,0,0,323,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5,2020,3,13,23,0

In [32]:
df_train.head()

,Id,State,Country,Date,ConfirmedCases,Fatalities,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,NaN,Afghanistan,2020-01-22,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
1,2,NaN,Afghanistan,2020-01-23,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
2,3,NaN,Afghanistan,2020-01-24,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
3,4,NaN,Afghanistan,2020-01-25,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
4,5,NaN,Afghanistan,2020-01-26,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5

In [33]:
df_train.loc[df_train.Country == 'Afghanistan', :]

,Id,State,Country,Date,ConfirmedCases,Fatalities,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,NaN,Afghanistan,2020-01-22,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
1,2,NaN,Afghanistan,2020-01-23,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
2,3,NaN,Afghanistan,2020-01-24,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
3,4,NaN,Afghanistan,2020-01-25,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
4,5,NaN,Afghanistan,2020-01-26,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
5,6,NaN,Afghanistan,2020-01-27,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
6,7,NaN,Afghanistan,2020-01-28,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
7,8,NaN,Afghanistan,2020-01-29,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
8,9,NaN,Afghanistan,2020-01-30,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
9,10,NaN,Afghanistan,2020-01-31,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
10,11,NaN,Afghanistan,2020-02-01,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
11,12,NaN,Afghanistan,2020-02-02,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
12,13,NaN,Afghanistan,2020-02-03,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
13,14,NaN,Afghanistan,2020-02-04,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
14,15,NaN,Afghanistan,2020-02-05,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
15,16,NaN,Afghanistan,2020-02-06,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
16,17,NaN,Afghanistan,2020-02-07,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
17,18,NaN,Afghanistan,2020-02-08,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
18,19,NaN,Afghanistan,2020-02-09,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
19,20,NaN,Afghanistan,2020-02-10,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
20,21,NaN,Afghanistan,2020-02-11,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
21,22,NaN,Afghanistan,2020-02-12,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
22,23,NaN,Afghanistan,2020-02-13,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
23,24,NaN,Afghanistan,2020-02-14,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
24,25,NaN,Afghanistan,2020-02-15,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
25,26,NaN,Afghanistan,2020-02-16,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
26,27,NaN,Afghanistan,2020-02-17,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
27,28,NaN,Afghanistan,2020-02-18,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
28,29,NaN,Afghanistan,2020-02-19,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
29,30,NaN,Afghanistan,2020-02-20,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
30,31,NaN,Afghanistan,2020-02-21,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
31,32,NaN,Afghanistan,2020-02-22,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
32,33,NaN,Afghanistan,2020-02-23,0.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
33,34,NaN,Afghanistan,2020-02-24,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
34,35,NaN,Afghanistan,2020-02-25,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
35,36,NaN,Afghanistan,2020-02-26,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
36,37,NaN,Afghanistan,2020-02-27,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
37,38,NaN,Afghanistan,2020-02-28,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
38,39,NaN,Afghanistan,2020-02-29,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
39,40,NaN,Afghanistan,2020-03-01,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
40,41,NaN,Afghanistan,2020-03-02,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
41,42,NaN,Afghanistan,2020-03-03,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
42,43,NaN,Afghanistan,2020-03-04,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
43,44,NaN,Afghanistan,2020-03-05,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
44,45,NaN,Afghanistan,2020-03-06,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
45,46,NaN,Afghanistan,2020-03-07,1.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
46,47,NaN,Afghanistan,2020-03-08,4.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
47,48,NaN,Afghanistan,2020-03-09,4.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
48,49,NaN,Afghanistan,2020-03-10,5.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
49,50,NaN,Afghanistan,2020-03-11,7.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
50,51,NaN,Afghanistan,2020-03-12,7.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
51,52,NaN,Afghanistan,2020-03-13,7.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
52,53,NaN,Afghanistan,2020-03-14,11.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
53,54,NaN,Afghanistan,2020-03-15,16.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
54,55,NaN,Afghanistan,2020-03-16,21.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
55,56,NaN,Afghanistan,2020-03-17,22.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5
56,57,NaN,Afghanistan,2020-03-18,22.0,0.0,38928346,2.33,886592,60,652860,-62920.0,4.6,18,25,0.5

In [34]:
df_test.tail()

,ForecastId,State,Country,Date,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
12637,12638,NaN,Zimbabwe,2020-04-26,14862924,1.48,217456,38,386850,-116858.0,3.6,19,38,0.19
12638,12639,NaN,Zimbabwe,2020-04-27,14862924,1.48,217456,38,386850,-116858.0,3.6,19,38,0.19
12639,12640,NaN,Zimbabwe,2020-04-28,14862924,1.48,217456,38,386850,-116858.0,3.6,19,38,0.19
12640,12641,NaN,Zimbabwe,2020-04-29,14862924,1.48,217456,38,386850,-116858.0,3.6,19,38,0.19
12641,12642,NaN,Zimbabwe,2020-04-30,14862924,1.48,217456,38,386850,-116858.0,3.6,19,38,0.19

In [35]:
X_Train.head()

,Id,State,Country,Date,ConfirmedCases,Fatalities,Population (2020),Yearly Change,Net Change,Density (P/Km²),...,Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,year,month,week,day,dayofweek
0,1,0,0,122,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,22,2
1,2,0,0,123,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,23,3
2,3,0,0,124,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,24,4
3,4,0,0,125,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,25,5
4,5,0,0,126,0.0,0.0,38928346,2.33,886592,60,...,-62920.0,4.6,18,25,0.5,2020,1,4,26,6

X_Train['confirmed_lag_t3'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(3))
X_Train['confirmed_lag_t5'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(5))
X_Train['confirmed_lag_t9'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(9))

X_Train['confirmed_rolling_mean_t3'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(15).rolling(3).mean())
X_Train['confirmed_rolling_mean_t5'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(15).rolling(5).mean())
X_Train['confirmed_rolling_mean_t7'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(15).rolling(7).mean())

X_Train['confirmed_rolling_std_t3'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(15).rolling(3).std())
X_Train['confirmed_rolling_std_t5'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(15).rolling(5).std())
X_Train['confirmed_rolling_std_t9'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(15).rolling(9).std())

X_Train['confirmed_rolling_skew_t15'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(21).rolling(15).skew())
X_Train['confirmed_rolling_kurt_t15'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(21).rolling(15).kurt())

X_Train['fatalities_lag_t3'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(3))
X_Train['fatalities_lag_t5'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(5))
X_Train['fatalities_lag_t9'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(9))

X_Train['fatalities_rolling_mean_t3'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(15).rolling(3).mean())
X_Train['fatalities_rolling_mean_t5'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(15).rolling(5).mean())
X_Train['fatalities_rolling_mean_t7'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(15).rolling(7).mean())

X_Train['fatalities_rolling_std_t3'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(15).rolling(3).std())
X_Train['fatalities_rolling_std_t5'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(15).rolling(5).std())
X_Train['fatalities_rolling_std_t9'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(15).rolling(9).std())

X_Train['fatalities_rolling_skew_t15'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(21).rolling(15).skew())
X_Train['fatalities_rolling_kurt_t15'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(21).rolling(15).kurt())

X_Train['lag_confirmed_t1'] = X_Train.groupby(['State', 'Country'])['ConfirmedCases'].transform(lambda x: x.shift(1))
X_Train['lag_fatalities_t1'] = X_Train.groupby(['State', 'Country'])['Fatalities'].transform(lambda x: x.shift(1))

X_Train['confirmed_change_t1'] = (X_Train['lag_confirmed_t1'] - X_Train['ConfirmedCases']) / (X_Train['lag_confirmed_t1'])
X_Train['fatalities_change_t1'] = (X_Train['lag_fatalities_t1'] - X_Train['Fatalities']) / (X_Train['lag_fatalities_t1'])

X_Train.drop(columns=['lag_confirmed_t1', 'lag_fatalities_t1'], axis=1, inplace=True)

In [36]:
X_Train.iloc[3990:4020]

,Id,State,Country,Date,ConfirmedCases,Fatalities,Population (2020),Yearly Change,Net Change,Density (P/Km²),...,Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share,year,month,week,day,dayofweek
4690,7001,191,33,122,1.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,1,4,22,2
4691,7002,191,33,123,1.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,1,4,23,3
4692,7003,191,33,124,2.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,1,4,24,4
4693,7004,191,33,125,3.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,1,4,25,5
4694,7005,191,33,126,4.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,1,4,26,6
4695,7006,191,33,127,7.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,1,5,27,0
4696,7007,191,33,128,11.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,1,5,28,1
4697,7008,191,33,129,12.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,1,5,29,2
4698,7009,191,33,130,17.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,1,5,30,3
4699,7010,191,33,131,21.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,1,5,31,4
4700,7011,191,33,201,26.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,5,1,5
4701,7012,191,33,202,28.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,5,2,6
4702,7013,191,33,203,31.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,6,3,0
4703,7014,191,33,204,34.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,6,4,1
4704,7015,191,33,205,34.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,6,5,2
4705,7016,191,33,206,40.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,6,6,3
4706,7017,191,33,207,43.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,6,7,4
4707,7018,191,33,208,45.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,6,8,5
4708,7019,191,33,209,45.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,6,9,6
4709,7020,191,33,210,49.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,7,10,0
4710,7021,191,33,211,53.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,7,11,1
4711,7022,191,33,212,58.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,7,12,2
4712,7023,191,33,213,64.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,7,13,3
4713,7024,191,33,214,67.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,7,14,4
4714,7025,191,33,215,70.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,7,15,5
4715,7026,191,33,216,70.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,7,16,6
4716,7027,191,33,217,70.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,8,17,0
4717,7028,191,33,218,70.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,8,18,1
4718,7029,191,33,219,71.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,8,19,2
4719,7030,191,33,220,71.0,0.0,1439323776,0.39,5540090,153,...,-348399.0,1.7,38,61,18.47,2020,2,8,20,3

In [37]:
from warnings import filterwarnings
filterwarnings('ignore')

In [38]:
'''
from sklearn.model_selection import GridSearchCV
import time
param_grid = {'n_estimators': [1000]}
#param_grid = {'nthread':[4], 'objective':['reg:linear'], 'learning_rate': [.03, 0.05], 'max_depth': [5, 6], 'min_child_weight': [4], 'silent': [1], 'subsample': [0.7], 'colsample_bytree': [0.7], 'n_estimators': [500, 1000]}

def gridSearchCV(model, X_Train, y_Train, param_grid, cv=10, scoring='neg_mean_squared_error'):
    start = time.time()
    
    grid_cv = GridSearchCV(model, param_grid, cv=cv, scoring=scoring)
    grid_cv.fit(X_Train, y_Train)
    
    print (f'{type(model).__name__} Hyper Paramter Tuning took a Time: {time.time() - start}')
    print (f'Best {scoring}: {grid_cv.best_score_}')
    print ("Best Hyper Parameters:\n{}".format(grid_cv.best_params_))
    
    return grid_cv.best_estimator_
'''

'\nfrom sklearn.model_selection import GridSearchCV\nimport time\nparam_grid = {\'n_estimators\': [1000]}\n#param_grid = {\'nthread\':[4], \'objective\':[\'reg:linear\'], \'learning_rate\': [.03, 0.05], \'max_depth\': [5, 6], \'min_child_weight\': [4], \'silent\': [1], \'subsample\': [0.7], \'colsample_bytree\': [0.7], \'n_estimators\': [500, 1000]}\n\ndef gridSearchCV(model, X_Train, y_Train, param_grid, cv=10, scoring=\'neg_mean_squared_error\'):\n    start = time.time()\n    \n    grid_cv = GridSearchCV(model, param_grid, cv=cv, scoring=scoring)\n    grid_cv.fit(X_Train, y_Train)\n    \n    print (f\'{type(model).__name__} Hyper Paramter Tuning took a Time: {time.time() - start}\')\n    print (f\'Best {scoring}: {grid_cv.best_score_}\')\n    print ("Best Hyper Parameters:\n{}".format(grid_cv.best_params_))\n    \n    return grid_cv.best_estimator_\n'

In [39]:
'''
from xgboost import XGBRegressor

model = XGBRegressor()

model1 = gridSearchCV(model, X_Train, y1_Train, param_grid, 10, 'neg_mean_squared_error')
model2 = gridSearchCV(model, X_Train, y2_Train, param_grid, 10, 'neg_mean_squared_error')
'''

"\nfrom xgboost import XGBRegressor\n\nmodel = XGBRegressor()\n\nmodel1 = gridSearchCV(model, X_Train, y1_Train, param_grid, 10, 'neg_mean_squared_error')\nmodel2 = gridSearchCV(model, X_Train, y2_Train, param_grid, 10, 'neg_mean_squared_error')\n"

In [40]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics

In [41]:
def applyMLA(model, X_train, X_test, y_train, y_test):
    start_time = time.time()
    model.fit(X_train, y_train)
    end_time = time.time()
    time2 = end_time-start_time

    predictions = model.predict(X_test)
    RMSE_test = np.sqrt(metrics.mean_squared_error(y_test, predictions))
    
    return [RMSE_test, time2]

In [42]:
from sklearn.decomposition import PCA

def applyPCA(ncomponents, X):
    pca = PCA(n_components=ncomponents, random_state = 0)
    pca.fit(X)
    return pca.transform(X)

In [43]:
X_Train_PCA = applyPCA(21, X_Train)
X_Test_PCA = applyPCA(19, X_Test)

In [44]:
X_Train_PCA

array([[-2.08310943e+08, -1.63013085e+06,  4.99540604e+05, ...,
        -1.12669735e-03, -2.28741163e-13, -5.04544843e-17],
       [-2.08310943e+08, -1.63013085e+06,  4.99540606e+05, ...,
        -1.12665918e-03, -2.27237667e-13,  5.21893278e-17],
       [-2.08310943e+08, -1.63013085e+06,  4.99540609e+05, ...,
        -1.12662100e-03, -2.25956215e-13,  1.55049980e-16],
       ...,
       [-2.32380003e+08, -1.76502254e+06, -7.31762070e+04, ...,
        -6.56532464e-04, -8.21321684e-13, -1.34533988e-15],
       [-2.32380003e+08, -1.76502254e+06, -7.31762045e+04, ...,
        -6.56494290e-04, -8.20040233e-13, -1.24258595e-15],
       [-2.32380003e+08, -1.76502254e+06, -7.31762020e+04, ...,
        -6.56456117e-04, -8.18789481e-13, -1.13983372e-15]])

In [45]:
X_Test_PCA

array([[-2.08310943e+08, -1.63012279e+06,  4.99572111e+05, ...,
        -4.21714211e-12,  1.88540851e-13, -1.67359893e-16],
       [-2.08310943e+08, -1.63012279e+06,  4.99572113e+05, ...,
        -4.20610768e-12,  1.89036287e-13, -3.54235955e-16],
       [-2.08310943e+08, -1.63012279e+06,  4.99572114e+05, ...,
        -4.19458912e-12,  1.89639970e-13, -5.41003332e-16],
       ...,
       [-2.32380003e+08, -1.76503039e+06, -7.32066603e+04, ...,
         7.16227078e-12,  4.89122631e-13,  7.26185063e-16],
       [-2.32380003e+08, -1.76503039e+06, -7.32066592e+04, ...,
         7.17331750e-12,  4.89677743e-13,  5.39309266e-16],
       [-2.32380003e+08, -1.76503039e+06, -7.32066581e+04, ...,
         7.18459856e-12,  4.90223141e-13,  3.52433733e-16]])

In [46]:
from sklearn import preprocessing

le = preprocessing.LabelEncoder()

# Modeling

1. For each State of a Country,<br>
2. Train the Model<br>
3. Predict the Target from trained the Model<br>

In [47]:
from xgboost import XGBRegressor

countries = X_Train.Country.unique()

#models_C = {}
#models_F = {}

df_out = pd.DataFrame({'ForecastId': [], 'ConfirmedCases': [], 'Fatalities': []})

for country in countries:
    states = X_Train.loc[X_Train.Country == country, :].State.unique()
    #print(country, states)
    # check whether string is nan or not
    for state in states:
        X_Train_CS = X_Train.loc[(X_Train.Country == country) & (X_Train.State == state), :]
        
        #y1_Train_CS = X_Train_CS.loc[:, 'ConfirmedCases']
        #y2_Train_CS = X_Train_CS.loc[:, 'Fatalities']
        y1_Train_CS_log = np.log1p(X_Train_CS.loc[:, 'ConfirmedCases'])
        y2_Train_CS_log = np.log1p(X_Train_CS.loc[:, 'Fatalities'])
        
        X_Train_CS.drop(columns=['Id', 'ConfirmedCases', 'Fatalities'], axis=1, inplace=True)
        
        X_Train_CS_PCA = applyPCA(18, X_Train_CS)
        
        #X_Train_CS.Country = le.fit_transform(X_Train_CS.Country)
        #X_Train_CS['State'] = le.fit_transform(X_Train_CS['State'])
        
        X_Test_CS = X_Test.loc[(X_Test.Country == country) & (X_Test.State == state), :]
        
        X_Test_CS_Id = X_Test_CS.loc[:, 'ForecastId']
        X_Test_CS.drop(columns=['ForecastId'], axis=1, inplace=True)
        
        X_Test_CS_PCA = applyPCA(18, X_Test_CS)
        
        #X_Test_CS.Country = le.fit_transform(X_Test_CS.Country)
        #X_Test_CS['State'] = le.fit_transform(X_Test_CS['State'])
        
        #models_C[country] = gridSearchCV(model, X_Train_CS, y1_Train_CS, param_grid, 10, 'neg_mean_squared_error')
        #models_F[country] = gridSearchCV(model, X_Train_CS, y2_Train_CS, param_grid, 10, 'neg_mean_squared_error')
        
        model1 = XGBRegressor(n_estimators=1000)
        model1.fit(X_Train_CS_PCA, y1_Train_CS_log)
        y1_pred = np.expm1(model1.predict(X_Test_CS_PCA))
        
        model2 = XGBRegressor(n_estimators=500)
        model2.fit(X_Train_CS_PCA, y2_Train_CS_log)
        y2_pred = np.expm1(model2.predict(X_Test_CS_PCA))
        
        df = pd.DataFrame({'ForecastId': X_Test_CS_Id, 'ConfirmedCases': y1_pred, 'Fatalities': y2_pred})
        df_out = pd.concat([df_out, df], axis=0)
    # Done for state loop
# Done for country Loop

### Change the ForecastId datatype from float to int

In [48]:
df_out.ForecastId = df_out.ForecastId.astype('int')

In [49]:
df_out.head()

   ForecastId  ConfirmedCases  Fatalities
0           1        0.000098         0.0
1           2        0.000098         0.0
2           3        0.000098         0.0
3           4        0.000098         0.0
4           5        0.000098         0.0

In [50]:
df_out.tail()

       ForecastId  ConfirmedCases  Fatalities
12637       12638             0.0         0.0
12638       12639             0.0         0.0
12639       12640             0.0         0.0
12640       12641             0.0         0.0
12641       12642             0.0         0.0

## Submit
### Use pandas to_csv to create a submission.csv file

In [51]:
df_out.to_csv('submission.csv', index=False)

y1_pred = model1.predict(X_Test)
y1_pred = y1_pred.round()

y2_pred = model2.predict(X_Test)
y2_pred = y2_pred.round()

df_sub = pd.read_csv(f'{PATH_WEEK2}/submission.csv')

df = pd.DataFrame({'ForecastId': df_sub.ForecastId, 'ConfirmedCases': y1_pred, 'Fatalities': y2_pred})
df.head(10)

df.info()

df.to_csv('submission.csv', index=False)