<a href="https://colab.research.google.com/github/rajgupta-github/MachineLearning-with-Python/blob/master/TwitterSentimentAnalysis/projects/TF_IDF_on_twitter_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import re
import math

In [0]:
tweets = pd.read_csv("https://raw.githubusercontent.com/kolaveridi/kaggle-Twitter-US-Airline-Sentiment-/master/Tweets.csv")

In [258]:
tweets.head()

             tweet_id  ...               user_timezone
0  570306133677760513  ...  Eastern Time (US & Canada)
1  570301130888122368  ...  Pacific Time (US & Canada)
2  570301083672813571  ...  Central Time (US & Canada)
3  570301031407624196  ...  Pacific Time (US & Canada)
4  570300817074462722  ...  Pacific Time (US & Canada)

[5 rows x 15 columns]

In [259]:
tweets.shape

(14640, 15)

In [0]:
X = tweets.iloc[:, 10].values

In [0]:
processed_tweets = []
 
for tweet in range(0, len(X)):  
    # Remove all the special characters
    processed_tweet = re.sub(r'\W', ' ', str(X[tweet]))
 
    # remove all single characters
    processed_tweet = re.sub(r'\s+[a-zA-Z]\s+', ' ', processed_tweet)
 
    # Remove single characters from the start
    processed_tweet = re.sub(r'\^[a-zA-Z]\s+', ' ', processed_tweet) 
 
    # Substituting multiple spaces with single space
    processed_tweet= re.sub(r'\s+', ' ', processed_tweet, flags=re.I)
 
    # Removing prefixed 'b'
    processed_tweet = re.sub(r'^b\s+', '', processed_tweet)

    # Removing leading spaces
    processed_tweet = re.sub(r"^\s+" , "" , processed_tweet)

 
    # Converting to Lowercase
    processed_tweet = processed_tweet.lower()
 
    processed_tweets.append(processed_tweet)

In [0]:
tweet_df = pd.DataFrame(processed_tweets, columns=['message'])

In [263]:
tweet_df.head()

                                             message
0                  virginamerica what dhepburn said
1  virginamerica plus you ve added commercials to...
2  virginamerica didn today must mean need to tak...
3  virginamerica it really aggressive to blast ob...
4  virginamerica and it a really big bad thing ab...

In [264]:
tweet_df.shape

(14640, 1)

In [0]:
documentA = tweet_df['message'].iloc[0]
documentB = tweet_df['message'].iloc[1]
documentC = tweet_df['message'].iloc[2]

**Using Python**

In [0]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')
bagOfWordsC = documentB.split(' ')
bagOfWordsA.remove('')
bagOfWordsB.remove('')
bagOfWordsC.remove('')

uniqueWords = set(bagOfWordsA).union(set(bagOfWordsB)).union(set(bagOfWordsC))

numOfWordsA = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsA:
    numOfWordsA[word] += 1
numOfWordsB = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsB:
    numOfWordsB[word] += 1
numOfWordsC = dict.fromkeys(uniqueWords, 0)
for word in bagOfWordsC:
    numOfWordsC[word] += 1    

count_df = pd.DataFrame([numOfWordsA, numOfWordsB,numOfWordsC])

def computeTF(wordDict, bagOfWords):
    tfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word, count in wordDict.items():
        tfDict[word] = count / float(bagOfWordsCount)
    return tfDict

tfA = computeTF(numOfWordsA, bagOfWordsA)
tfB = computeTF(numOfWordsB, bagOfWordsB)    
tfC = computeTF(numOfWordsC, bagOfWordsC)  

tf = pd.DataFrame([tfA, tfB, tfC])

def computeIDF(documents):
    
    N = len(documents)
    
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
    return idfDict

idfs = computeIDF([numOfWordsA, numOfWordsB, numOfWordsC])
idfs_df = pd.DataFrame([idfs])   

def computeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
tfidfC = computeTFIDF(tfC, idfs)
tfidf = pd.DataFrame([tfidfA, tfidfB, tfidfC])

In [267]:
print("Document A ->", tweet_df.message.iloc[0])
print("Document B ->", tweet_df.message.iloc[1])
print("Document C ->", tweet_df.message.iloc[2])

Document A -> virginamerica what dhepburn said
Document B -> virginamerica plus you ve added commercials to the experience tacky
Document C -> virginamerica didn today must mean need to take another trip

In [268]:
#Total words in document A
print(len(bagOfWordsA))

#Total words in document B
print(len(bagOfWordsB))

#Total words in document C
print(len(bagOfWordsC))

4
10
10

In [269]:
count_df

   virginamerica  to  dhepburn  the  ...  experience  commercials  tacky  ve
0              1   0         1    0  ...           0            0      0   0
1              1   1         0    1  ...           1            1      1   1
2              1   1         0    1  ...           1            1      1   1

[3 rows x 13 columns]

In [270]:
tf

   virginamerica   to  dhepburn  the  ...  experience  commercials  tacky   ve
0           0.25  0.0      0.25  0.0  ...         0.0          0.0    0.0  0.0
1           0.10  0.1      0.00  0.1  ...         0.1          0.1    0.1  0.1
2           0.10  0.1      0.00  0.1  ...         0.1          0.1    0.1  0.1

[3 rows x 13 columns]

In [271]:
idfs_df

   virginamerica        to  dhepburn  ...  commercials     tacky        ve
0            0.0  0.176091  0.477121  ...     0.176091  0.176091  0.176091

[1 rows x 13 columns]

In [272]:
tfidf

   virginamerica        to  dhepburn  ...  commercials     tacky        ve
0            0.0  0.000000   0.11928  ...     0.000000  0.000000  0.000000
1            0.0  0.017609   0.00000  ...     0.017609  0.017609  0.017609
2            0.0  0.017609   0.00000  ...     0.017609  0.017609  0.017609

[3 rows x 13 columns]

Using SKlearn

In [274]:
vectorizer = TfidfVectorizer()
vectors = vectorizer.fit_transform([documentA, documentB, documentC])
feature_names = vectorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df.head()

      added   another  commercials  ...  virginamerica      what       you
0  0.000000  0.000000     0.000000  ...       0.322745  0.546454  0.000000
1  0.334689  0.000000     0.334689  ...       0.197673  0.000000  0.334689
2  0.000000  0.334689     0.000000  ...       0.197673  0.000000  0.000000

[3 rows x 21 columns]